In [18]:
from phe import paillier
import pandas as pd
import json
public_phe, private_phe = paillier.generate_paillier_keypair()
# p, r = paillier.generate_paillier_keypair()



# 把解密的私钥给用户
with open("test.phe", "w") as f:
    json.dump({"pub": public_phe.n,
               "p": str(private_phe.p),
               "q": str(private_phe.q)},
              f)
with open("userclient/123456.phe", "r") as f:
    js = json.load(f)

pub_rec = paillier.PaillierPublicKey(int(js['pub']))
pri_rec = paillier.PaillierPrivateKey(pub_rec,int(js['p']),int(js['q']))

In [21]:
with open("keys/homo.phe", "r") as f:
    js = json.load(f)
pub_rec = paillier.PaillierPublicKey(int(js['pub']))
pri_rec = paillier.PaillierPrivateKey(
    p, int(js['p']), int(js['q']))

In [16]:
data = pd.read_csv("calculus.csv")


def f(x):
    cipher = pub_rec.encrypt(float(x))
    return json.dumps(
        {'text': str(cipher.ciphertext()),
         'exponent':cipher.exponent})
data['mark'] = data['mark'].map(f)


##

data['course'] = ['course' for i in range(len(data))]
data['credit'] = [5 for i in range(len(data))]
mark = pd.read_csv('mark.csv')
data = pd.concat([mark, data])
##

def f(x):
    x = json.loads(x)
    return paillier.EncryptedNumber(pub_rec, int(x['text']), int(x['exponent']))
data['mark']=data['mark'].map(f)
print(data)
ga = 0
for i, v in data['mark'].items():
    # print(private_phe.decrypt(mark.at[i, 'mark']))
    # print(mark.at[i, 'mark'], int(mark.at[i, 'credit']))
    ga += data.at[i, 'mark'] * int(data.at[i, 'credit'])
data.loc[len(data)]=(' ',ga/len(data),' ',' ', ' ')
# print(data)
def g(x):
    return json.dumps(
        {'text': str(x.ciphertext()),
         'exponent':x.exponent})

data['mark']=data['mark'].map(g)
data.to_csv("test.csv",index=False)
data = pd.read_csv("test.csv")
def h(x):
    js = json.loads(x)
    cipher = paillier.EncryptedNumber(pub_rec,int(js['text']), int(js['exponent']))
    return pri_rec.decrypt(cipher)

data['mark']=data['mark'].map(h)
data

       id                                               mark  course credit  \
0  123456  <phe.paillier.EncryptedNumber object at 0x0000...  course      5
1  123455  <phe.paillier.EncryptedNumber object at 0x0000...  course      5
2  123454  <phe.paillier.EncryptedNumber object at 0x0000...  course      5

  name
0   小明
1   小黑
2   小白
0 <phe.paillier.EncryptedNumber object at 0x000001F4F6A0F6A0> 5 <class 'int'>
1 <phe.paillier.EncryptedNumber object at 0x000001F4F6A0FA00> 5 <class 'int'>
2 <phe.paillier.EncryptedNumber object at 0x000001F4F6A0FD90> 5 <class 'int'>

       id   mark  course credit name
0  123456   95.0  course      5   小明
1  123455   80.0  course      5   小黑
2  123454   65.0  course      5   小白
3          400.0

In [24]:
data = pd.read_csv("calculus.csv")

# 明文加密成密文，打包成json
def f(x):
    cipher = pub_rec.encrypt(float(x))
    return json.dumps(
        {'text': str(cipher.ciphertext()),
         'exponent':cipher.exponent})
data['mark'] = data['mark'].map(f)


# 组合成新的表，加入课程名和学分
data['course'] = ['course' for i in range(len(data))]
data['credit'] = [5 for i in range(len(data))]
mark = pd.read_csv('test_empty.csv')
data = pd.concat([mark, data])

data.to_csv("testmark.csv", index=False)
data = pd.read_csv("testmark.csv")

print(data)
# 解压json，还原密文
def f(x):
    x = json.loads(x)
    return paillier.EncryptedNumber(pub_rec, int(x['text']), int(x['exponent']))
data['mark']=data['mark'].map(f)

# 同态操作
ga = 0
for i, v in data['mark'].items():
    # print(private_phe.decrypt(mark.at[i, 'mark']))
    # print(mark.at[i, 'mark'], int(mark.at[i, 'credit']))
    ga += data.at[i, 'mark'] * int(data.at[i, 'credit'])
data.loc[len(data)]=(' ',ga/len(data),' ',' ', ' ')

# 打包成json
def g(x):
    return json.dumps(
        {'text': str(x.ciphertext()),
         'exponent':x.exponent})

data['mark']=data['mark'].map(g)
data.to_csv("test.csv",index=False)

       id                                               mark  course  credit  \
0  123456  {"text": "483470386759003595761994812856373485...  course       5
1  123455  {"text": "834800727472724037631768928652707799...  course       5
2  123454  {"text": "625066872349889415010449566595075684...  course       5

  name
0   小明
1   小黑
2   小白

In [9]:
mark = pd.read_csv("test_test.csv").mark[0]
test = pd.read_csv("test.csv").mark[0]

m=paillier.EncryptedNumber(pub_rec,int(json.loads(mark)['text']),int(json.loads(mark)['exponent']))
t=paillier.EncryptedNumber(pub_rec,int(json.loads(test)['text']),int(json.loads(test)['exponent']))
pri_rec.decrypt(t)

95.0

In [31]:
data

,id,mark,course,credit,name
0,123456,"{""text"": ""312614114783670067293011578759476488...",course,5,小明
1,123455,"{""text"": ""640428439195932179249635356865709845...",course,5,小黑
2,123454,"{""text"": ""514544453949338158370642362012893682...",course,5,小白
3,,"{""text"": ""591816005597291772088555910021608277...",,,

In [32]:
data[data.id == 123456]

,id,mark,course,credit,name
0,123456,"{""text"": ""312614114783670067293011578759476488...",course,5,小明