In [2]:
import pandas as pd

data = pd.read_csv("user.csv")
data

,id,name,status,identity,privateKey
0,123,sdas,学生,Null,LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSU...

In [8]:
data.loc[data['id']==123,'identity']

0    dddd
Name: identity, dtype: object

In [24]:
if data.loc[data['id']==123,'identity']=='ddd':
    print('dw')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [20]:
data

,id,name,status,identity,privateKey
0,123,sdas,学生,ddd,LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSU...